<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="cinemasPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>Persistencia.Clasificaciones</class>
    <class>Persistencia.Sucursales</class>
    <class>Persistencia.Funciones</class>
    <class>Persistencia.Salas</class>
    <class>Persistencia.Precios</class>
    <class>Persistencia.Tickets</class>
    <class>Persistencia.Peliculas</class>
    <class>Persistencia.Generos</class>
    <class>Persistencia.TiposUsuarios</class>
    <class>Persistencia.Empresas</class>
    <class>Persistencia.Usuarios</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/cinemas?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="root"/>
    </properties>
  </persistence-unit>
</persistence>
